<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.company.mapper.TJobhunterExpectPositionMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.company.entity.TJobhunterExpectPosition">
            <id property="postionId" column="postion_id" jdbcType="VARCHAR"/>
            <result property="resumeId" column="resume_id" jdbcType="VARCHAR"/>
            <result property="positionName" column="position_name" jdbcType="VARCHAR" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="workCity" column="work_city" jdbcType="VARCHAR" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="currentSalary" column="current_salary" jdbcType="DECIMAL"/>
            <result property="desiredIndustry" column="desired_industry" jdbcType="VARCHAR" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="expectSalary" column="expect_salary" jdbcType="DECIMAL"/>
            <result property="arrivalTime" column="arrival_time" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        postion_id,resume_id,position_name,
        work_city,current_salary,desired_industry,
        expect_salary,arrival_time,create_time,
        update_time
    </sql>
</mapper>
